.container {
  border-bottom: 1px solid black;
  padding: 20px 100px;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px; /* Расстояние между лого и меню */
}

.list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.activeLink {
  font-weight: bold;
}
