.home {
    min-height: 100vh;
}

.sections {
    padding: 40px 0;
    max-width: 1300px;
    margin: 0 auto;
}

.sections > * {
    margin-bottom: 60px;
}

.sections > *:last-child {
    margin-bottom: 0;
}