/* common/components/GlobalLoader/GlobalLoader.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: transparent;
}

.root {
    background: var(--bg-secondary);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 4px;
}

.bar {
    height: 100%;
    background: var(--primary-color);
    position: absolute;
}

@keyframes indeterminate1 {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate2 {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

.indeterminate1 {
    animation: indeterminate1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.indeterminate2 {
    animation: indeterminate2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
}